In [1]:
import pandas as pd
A=pd.read_csv('StudentsPerformance.csv' )
A.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [2]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [3]:
A.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [4]:
A['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [5]:
A['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [6]:
A['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [7]:
A['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [8]:
A['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

In [9]:
A1 = A.set_index("race/ethnicity")
A1 = A1.sort_index()
A1.head()

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score
race/ethnicity,,,,,,,
group A,female,some college,standard,completed,72,79,82
group A,female,some high school,standard,completed,92,100,97
group A,female,some high school,standard,completed,85,90,92
group A,female,associate's degree,free/reduced,none,37,57,56
group A,male,some college,standard,none,69,67,69

In [10]:
Maths_Scores=A['math score']
print("Mean Score: ", Maths_Scores.mean())
print("Standard deviation:", Maths_Scores.std())
print("Minimum Scores: ", Maths_Scores.min())
print("Maximum Scores: ", Maths_Scores.max())

Mean Score:  66.089
Standard deviation: 15.16308009600945
Minimum Scores:  0
Maximum Scores:  100

In [11]:
Reading_Scores=A['reading score']
print("Mean Score: ", Reading_Scores.mean())
print("Standard deviation:", Reading_Scores.std())
print("Minimum Scores: ", Reading_Scores.min())
print("Maximum Scores: ", Reading_Scores.max())

Mean Score:  69.169
Standard deviation: 14.600191937252216
Minimum Scores:  17
Maximum Scores:  100

In [12]:
Writing_Scores=A['writing score']
print("Mean Score: ", Writing_Scores.mean())
print("Standard deviation:", Writing_Scores.std())
print("Minimum Scores: ", Writing_Scores.min())
print("Maximum Scores: ", Writing_Scores.max())

Mean Score:  68.054
Standard deviation: 15.19565701086965
Minimum Scores:  10
Maximum Scores:  100

In [13]:

fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="math score", hue="gender", data=A)

NameError: name 'plt' is not defined

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="reading score", hue="gender", data=A)

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="writing score", hue="gender", data=A)

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="math score", hue="gender", data=A)

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="reading score", hue="gender", data=A)

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="writing score", hue="gender", data=A)

In [ ]:
import numpy as np
Avg_Grade_Across_race_ethnicity=A.pivot_table(index=['race/ethnicity','gender','parental level of education','lunch','test preparation course']).apply(np.mean, axis=1)
Avg_Grade_Across_race_ethnicity[:40]

In [ ]:
Ap=A.pivot_table(index=['race/ethnicity']).apply(np.mean, axis=1)
Ap

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
Ap.plot.bar(ax=ax)

In [ ]:
A2 = A[['math score','reading score','writing score']].groupby(A['race/ethnicity']).sum()
A2

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
A2.plot.bar(ax=ax)

In [ ]:
A3 = A[['math score','reading score','writing score']].groupby(A['gender']).sum()
A3

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
A3.plot.bar(ax=ax)

In [ ]:
A4 = A[['math score','reading score','writing score']].groupby(A['lunch']).sum()
A4

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
A4.plot.bar(ax=ax)

In [ ]:
A5 = A[['math score','reading score','writing score']].groupby(A['test preparation course']).sum()
A5

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
A5.plot.bar(ax=ax)

In [ ]:
A6 = A[['math score','reading score','writing score']].groupby(A['parental level of education']).sum()
A6

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
A6.plot.bar(ax=ax)

In [ ]:
A7 = A.groupby(['parental level of education','lunch'])[['math score','reading score','writing score']].sum()
A7

In [ ]:
A8 = A.groupby(['parental level of education','race/ethnicity'])[['math score','reading score','writing score']].sum()
A8

In [ ]:
# let's check the race/ethnicity in line with this parameters: gender,parental level of education,lunch,test preparation course,math score,reading score,writing score
def race_ethnicity(x):
    return A[(A['race/ethnicity'] == x)][['gender','parental level of education','lunch','test preparation course','math score','reading score','writing score']]
race_ethnicity("group A")

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="math score", hue="gender", data=race_ethnicity("group A"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="reading score", hue="gender", data=race_ethnicity("group A"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="writing score", hue="gender", data=race_ethnicity("group A"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="math score", hue="gender", data=race_ethnicity("group A"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="math score", hue="gender", data=race_ethnicity("group A"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="math score", hue="gender", data=race_ethnicity("group A"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="math score", hue="gender", data=race_ethnicity("group A"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="reading score", hue="gender", data=race_ethnicity("group A"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="writing score", hue="gender", data=race_ethnicity("group A"))

In [ ]:
race_ethnicity("group B")

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="math score", hue="gender", data=race_ethnicity("group B"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="reading score", hue="gender", data=race_ethnicity("group B"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="writing score", hue="gender", data=race_ethnicity("group B"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="math score", hue="gender", data=race_ethnicity("group B"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="reading score", hue="gender", data=race_ethnicity("group B"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="writing score", hue="gender", data=race_ethnicity("group B"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="math score", hue="gender", data=race_ethnicity("group B"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="reading score", hue="gender", data=race_ethnicity("group B"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="writing score", hue="gender", data=race_ethnicity("group B"))

In [ ]:
race_ethnicity("group C")

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="math score", hue="gender", data=race_ethnicity("group C"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="reading score", hue="gender", data=race_ethnicity("group C"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="writing score", hue="gender", data=race_ethnicity("group C"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="math score", hue="gender", data=race_ethnicity("group C"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="reading score", hue="gender", data=race_ethnicity("group C"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="writing score", hue="gender", data=race_ethnicity("group C"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="math score", hue="gender", data=race_ethnicity("group C"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="reading score", hue="gender", data=race_ethnicity("group C"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="writing score", hue="gender", data=race_ethnicity("group C"))

In [ ]:
race_ethnicity("group D")

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="math score", hue="gender", data=race_ethnicity("group D"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="reading score", hue="gender", data=race_ethnicity("group D"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="writing score", hue="gender", data=race_ethnicity("group D"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="math score", hue="gender", data=race_ethnicity("group D"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="reading score", hue="gender", data=race_ethnicity("group D"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="writing score", hue="gender", data=race_ethnicity("group D"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="math score", hue="gender", data=race_ethnicity("group D"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="reading score", hue="gender", data=race_ethnicity("group D"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="writing score", hue="gender", data=race_ethnicity("group D"))

In [ ]:
race_ethnicity("group E")

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="math score", hue="gender", data=race_ethnicity("group E"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="reading score", hue="gender", data=race_ethnicity("group E"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="test preparation course", y="writing score", hue="gender", data=race_ethnicity("group E"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="math score", hue="gender", data=race_ethnicity("group E"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="reading score", hue="gender", data=race_ethnicity("group E"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="parental level of education", y="writing score", hue="gender", data=race_ethnicity("group E"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="math score", hue="gender", data=race_ethnicity("group E"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="reading score", hue="gender", data=race_ethnicity("group E"))

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(12, 8))
sns.barplot(x="lunch", y="writing score", hue="gender", data=race_ethnicity("group E"))

# Analysis of group A

In [ ]:
# People that are Males in group A:
race_ethnicity("group A")[race_ethnicity("group A").gender == 'male']

In [ ]:
# People that are females in group A:
race_ethnicity("group A")[race_ethnicity("group A").gender == 'female']

## Analysis of group A Male gender through the following:
## Parental level of education,lunch,Test preparation course

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == 'some college')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == 'some high school')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education(high school),lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == 'high school')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "bachelor's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education(master's degree),lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "master's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == 'some college')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == 'some high school')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "bachelor's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "high school")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == 'some college')&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "master's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == 'some high school')&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "bachelor's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "high school")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "bachelor's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education(master's degree),lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "master's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "high school")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "some high school")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'male')&(race_ethnicity("group A")['parental level of education'] == "some college")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

## Analysis of group A Female gender through the following:
## Parental level of education,lunch,Test preparation course

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == 'some college')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == 'some high school')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education(high school),lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == 'high school')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "bachelor's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education(master's degree),lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "master's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == 'some college')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == 'some high school')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "bachelor's degree")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "high school")&(race_ethnicity("group A").lunch =='standard')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == 'some college')&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "master's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == 'some high school')&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "bachelor's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "high school")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='none')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "associate's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "bachelor's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education(master's degree),lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "master's degree")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "high school")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "some high school")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]

In [ ]:
# Gender,parental level of education,lunch,test preparation course,math score,reading score,writing score in race_ethnicity("group A"):
race_ethnicity("group A")[(race_ethnicity("group A").gender == 'female')&(race_ethnicity("group A")['parental level of education'] == "some college")&(race_ethnicity("group A").lunch =='free/reduced')&(race_ethnicity("group A")['test preparation course'] =='completed')]